body {
    font-family: Arial;
    background-color: burlywood;
    }
    h1{ font-family: 'Courier New', Courier, monospace;
    color: rgb(87, 43, 18);
    }
    a{
        font-family:'Times New Roman', Times, serif
    }
    h2{
        color: beige
    }
    p{
        color: brown
    }
    b{
        font-size: 101%;
        color: purple
    }
    button{
        background-color: blueviolet;
        padding-right: inherit;
    }